<!DOCTYPE html>
<html>
  <head>
    <title>Home Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><center>Franco Chong's Portfolio</center></h1>
    <table>
    <tr>
    <td><a href="about"> About Me</a> </td>
    </tr>
    <tr>
    <td><a href="projects"> My Projects</a></td>
    </tr>
    <tr>
    <td><a href="services"> Services</a></td>
    </tr>
    <tr>
    <td><a href="contact"> Contact Me</a></td>
    </tr>
    </table>

    
  </body>
</html>
