<!DOCTYPE html>
<html>
  <head>
    <title>My Projects</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Sample Projects</h1>
    <a href="https://github.com/InstantChaos"> My github </a>
    
  </body>
</html>
